spring:
  application:
    name: product-service
  datasource:
    url: jdbc:postgresql://localhost:5432/bitvelocity
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate.jdbc.time_zone: UTC
  flyway:
    enabled: true

management:
  endpoints.web.exposure.include: health,info,prometheus
server:
  port: 8081